<div class="header_items">
  <div class="header_left">
    <a href="/">
      <img src="https://presite-potepancamp-rails-02.herokuapp.com/assets/logo.png"
          alt="site_logo">
    </a>
      <input class="fas search font" type="search" placeholder="&#xf3c5; エリア">
      <input class="fas search font" type="search" placeholder="&#xf002; キーワード">
  </div>
  <div class="header_right">
    <div class="user_name"><!--@user.name--></div>
    <img src="" alt="メニュー">
  </div>
</div>