<div class="top">
  <div class="top_img">
    <div class="container">
      <div class="container_text">
        <div class="container_frame">
          <div class="form_area">
            <p>Potepan Shareでまだ体験したことのない旅をしよう</p>
            <!--あとでフォームタグをつける-->
            <form class="form_list">
              <label>エリア</label>
              <input type="search" placeholder="東京">
              <button class="button_css" type='submit'>探す</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="panel_area">
      <h1>おすすめのエリア</h1>
      <div class="row">
        <div class="img_box">
          <img src="https://presite-potepancamp-rails-02.herokuapp.com/assets/img_tokyo.jpg">
          <span>東京</span>
        </div>
        <div class="img_box">
          <img src="https://presite-potepancamp-rails-02.herokuapp.com/assets/img_osaka.jpg">
          <span>大阪</span>
        </div>
        <div class="img_box">
          <img src="https://presite-potepancamp-rails-02.herokuapp.com/assets/img_kyoto.jpg">
          <span>京都</span>
        </div>
        <div class="img_box">
          <img src="https://presite-potepancamp-rails-02.herokuapp.com/assets/img_sapporo.jpg">
          <span>札幌</span>
        </div>
      </div>
    </div>
  </div>
</div>