<div class="flash_message">
  <div class="notice">
    <% if flash[:notice] %>
      <div class="notice"><%= flash[:notice] %></div>
    <% end %>
  </div>
</div>
<div class="top">
  <div class="top_img">
    <div class="container">
      <div class="container_text">
        <div class="container_frame">
          <div class="form_area">
            <p>Potepan Shareでまだ体験したことのない旅をしよう</p>
            <!--あとでフォームタグをつける-->
            <%= form_with url: "/rooms/search", method: :get, local: true, id: "form1" do |f| %>
              <label>エリア</label>
              <%= f.text_field :area, placeholder: "東京" %>
              <%= f.submit"探す" %>
            <% end %>  
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="panel_area">
      <h1>おすすめのエリア</h1>
      <div class="row">
        <div class="img_box">
          <a href="rooms/search?area=東京">
            <img src="https://presite-potepancamp-rails-02.herokuapp.com/assets/img_tokyo.jpg">
          </a>  
          <span>東京</span>
        </div>
        <div class="img_box">
          <a href="rooms/search?area=大阪">
            <img src="https://presite-potepancamp-rails-02.herokuapp.com/assets/img_osaka.jpg">
          </a>  
          <span>大阪</span>
        </div>
        <div class="img_box">
          <a href="rooms/search?area=京都">
            <img src="https://presite-potepancamp-rails-02.herokuapp.com/assets/img_kyoto.jpg">
          </a>  
          <span>京都</span>
        </div>
        <div class="img_box">
          <a href="rooms/search?area=札幌">
            <img src="https://presite-potepancamp-rails-02.herokuapp.com/assets/img_sapporo.jpg">
          </a>  
          <span>札幌</span>
        </div>
      </div>
    </div>
  </div>
</div>