<div class="container_room room_show">
  <div class="col">
    <% binding.pry %>
    <%= image_tag "#{@room.image}", class:"room_show_image" %>
    <div class="room_show_detile">
      <div class="room_show_detile_icon">
        <a>
          <%= image_tag "#{@user.image}", class:"user_icon" %>
        </a>
      </div>
    </div>
    <div class="room_show_profile">
      <p class="room_show_profile_name">ss</p>
      <p class="room_show_profile_address">ss</p>
    </div>
  </div>
  <div class="col2">
    <div class="room_show_nav">
      <h5 class="price_icon">
        111 / day
      </h5>
    </div>
    <div class="room_show_date_select">
      form
    </div>
  </div>
</div>