/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "font-awesome-sprockets";
@import "font-awesome";

body {
  position: relative;
  min-height: 100vh;
  padding-bottom: 180px;
  box-sizing: border-box;
  margin: 0;
}

img {
  vertical-align: middle;
}

*, ::after, ::before {
  box-sizing: border-box;
}

ul, li {
  list-style: none;
}

p {
  margin-top: 0;
}

h5 {
  font-size: 1.25rem;
  margin-top: 0;
  margin-bottom: .5rem;
}

header, footer {
  background-color: #000;
  width: 100%;
}

header {
  display: block;
  height: 70px;
  padding: 4px 30px;
}

footer {
  position: absolute;
  bottom: 0;
  color: #fff;
  height: 180px;
  margin-top: 60px;
  padding-top: 90px;
  text-align: center;
}

.header_left {
  display: flex;
}

.d-none {
  display: none!important;
}

@media (min-width: 992px) {
.d-none {
  display: inline-block!important;
}
}

.search_sub {
  display: none;
}

.search {
  width: 180px;
  border-radius: 2px;
  padding: 5px 2px;
}


.header_right {
  display: flex;
  float: right;
  position: absolute;
  right: 40px;
  top: 20px;
}

.login_user {
  top: 1px;
}

#navi {
  position: absolute;
  right: 0;
  top: 70px;
  background: #eee;
  border: 1px solid #ccc;
  z-index: 99;
}

#navi p {
  padding-top: 10px;
  padding-bottom: 0;
}

.js_menu {
  text-decoration: none;
  color: #000;
}

.user_name {
  color: #fff;
  margin-top: 22px;
  margin-right: 10px;
}

.button_css {
  color: #fff;
  background: #4a90e2;
  border-radius: 5px;
  boder-color: #007bff;
  margin-right: 10px;
}

.register {
  color: #fff;
  background: #6c757d;
  border-radius: 5px;
  boder-color: #6c757d;
  margin-right: 5px;
}



/*top_page css*/


.top_img {
  background-image: url(https://presite-potepancamp-rails-02.herokuapp.com/assets/img_cover_top.jpg);
  height: 650px;
  width: 100%;
  background-size: cover;
}

@media (min-width: 768px) {
.container {
  max-width: 720px;
}
}

@media (min-width: 992px) {
.container {
  max-width: 960px;
}
}

@media (min-width: 1200px) {
.container {
  max-width: 1140px;
}
}

.container {
  width: 100%;
  height: 100%;
  padding: 0 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 992px) {
.container_text {
  max-width: 50%;
  flex: 0 0 50%;
  height: 100%;
}
}

.container_frame {
  height: 650px;
  display: flex;
  align-items: center;
}

.form_area {
  background: #fff;
  padding: 24px;
  border-radius: 5px;
}

.form_area p {
  font-size: 28px;
  line-height: 33px;
  letter-spacing: 1px;
}

.form_list button, input, label {
  display: block;
  font-size: 13px;
  line-height: 18px;
}

.form_list button, input, textarea {
  width: 100%;
  border-radius: 5px;
  margin-top: 15px;
  padding: 10px 0;
  font-size: 1rem;
}

textarea {
  padding: 10px 0 50px;
}

.form_list input {
  padding-left: 10px;
}

.form_list button {
  margin-bottom: 30px;
}


.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.panel_area {
  margin: 3rem!important;
}

.panel_area h1 {
  font-size: 24px;
  margin: 35px 0;
  font-weight: bold;
}

.img_box {
  max-width: 50%;
  flex: 0 0 50%;
  padding-right: 15px;
  padding-left: 15px;
  position: relative;
}

@media (min-width: 992px) {
.img_box {
  max-width: 25%;
  flex: 0 0 25%;
  padding-right: 15px;
  padding-left: 15px;
}
}

.img_box span {
  padding: 10px 20px;
  background: #ff9f67;
  border-radius: 5px;
  font-weight: bold;
  opacity: 0.8;
  position: absolute;
  text-align: center;
  right: 25px;
  left: 25px;
  bottom: 30px;
}

.container img {
  width: 100%;
  height: 360px;
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 25px;
}

