// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

/*ログイン画面*/

.form {
  padding-top: 36px!important;
  font-size: 16px;
}

.form_frame {
  max-width: 600px;
  text-align: center;
  padding: 24px;
  margin: 0 auto;
  box-shadow: rgba(21, 27, 38, 0.15) 0px 1px 3px 0px;
}

.form_inner {
  max-width: 360px;
  margin: 0 auto;
}

.form_field {
  display: flex;
  margin-left: -5px;
  margin-right: -5px;
}

.icon {
  flex: 0 0 16.77%;
  max-width: 16.77%;
  position: relative;
}

.icon::before {
  content: "必須";
  vertical-align: middle;
  color: #fff;
  background: #ff0000a8;
  font-size: 12px;
  border-radius: 5px;
  padding: 5px;
  margin: 0 5px;
  position: absolute;
  top: 20px;
  right: 2px;
}

.form_field input {
  width: 300px;
}

input[type=submit] , .edit_button {
  color: #fff;
  background: #4a90e2;
  border-radius: 5px;
  boder-color: #007bff;
  margin-right: 10px;
}


/*プロフィールページ*/


.container_field {
  width: 100%;
}

.profile {
  display: flex;
  flex-wrap: wrap;
}

.profile h5 {
  font-size: 1.25rem;
}

.user_nav {
  width: 100%;
  box-sizing: border-box;
  padding: 30px 15px;
}

@media (min-width: 992px) {
.header_nav_sp {
  display: none;
}
}

.header_nav_sp li {
  float: left;
  margin-left: 20px;
}

.header_nav_sp .select_menu a {
  border-bottom: 3px solid #4a90e2;
  color: #4a90e2;
}


.side_nav_pc {
  height: 100vh;
  display: block;
  flex: 0 0 16.7%;
  max-width: 16.7%;
}

.side_nav_pc li {
  padding-left: 20px;
  margin-bottom: 20px;
}

.side_nav_pc a, .header_nav_sp a {
  text-decoration: none;
  color: #000;
  cursor: pointer;
}

.menu_account a:hover {
  color: #4a90e2;
}

.side_nav_pc .select_menu a {
  color: #4a90e2;
  border-right: 3px solid #4a90e2;
  padding-right: 10px;
}

.user_view {
  background: #f6f8f9;
  border-left: 2px solid green;
  display: inline-block;
  flex: 0 0 83.3%;
  max-width: 83.3%;
}

.user_view_box {
  max-width: 880px;
  background: #fff;
  border: 1px solid #eaedef;
  margin: 30px auto;
}

.user_view_content {
  border-bottom: 1px solid #eaedef;
  padding: 20px;
  margin: 0 15px;
  font-size: 16px;
}

.offset {
  margin-left: 50%;
}

.user_icon, .user_icon img {
  width: 65px;
  height: 65px;
  object-fit: cover;
  border-radius: 50px;
}

.profile input[type=submit] {
  width: 250px;
}

.require {
  font-weight: bold;
  flex: 0 0 25%;
  max-width: 25%;
  font-size: 16px;
  line-height: 3;
}

.require1 {
  flex: 0 0 75%;
  max-width: 75%;
}

.require::after {
  content: "必須";
  color: #fff;
  background-color: #ff0000a8;
  font-size: 12px;
  border-radius: 5px;
  padding: 4px;
  margin: 0 5px;
}

.notice {
  background: yellow;
  text-align: center;
}

.edit_button {
  padding: 10px 30px;
  text-decoration: none;
}

.back {
  border: 1px solid #000;
  padding: 12px 162px;
  border-radius: 5px;
  text-decoration: none;
  color: #4a90e2;
}

.edit_form input, textarea {
  margin-bottom: 20px;
}

.col_md_3 {
  font-weight: bold;
  flex: 0 0 25%;
  max-width: 25%;
  font-size: 16px;
  line-height: 3;
}

.col_md_4 {
  flex: 0 0 75%;
  max-width: 75%;
  font-size: 14px;
  line-height: 3;
}